{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Alterar Senha!
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'app/css/password_reset_general.css' %}">
{% endblock %}

{% block content %}
    <div class="formDiv">
        <h2>Esqueci minha senha</h2>
        <p>Insira seu e-mail para receber o link de redefinição de senha.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="button"class="cancelBtn" onclick="location.href='{% url 'index' %}'">Voltar</button>
            <button type="submit" onclick="location.href='{% url 'password_reset_done' %}'">Enviar</button>
        </form>
    </div>
{% endblock %}