{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Enviado
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'app/css/password_reset_general.css' %}">
{% endblock %}

{% block content %}
    <div class="formDiv">
        <h2>Email Enviado</h2>
        <p>Se o seu email estiver registrado, um link de redefinição de senha será enviado.</p>
        <p>Se você não receber o email, verifique se o endereço de email está correto.</p>
    </div>
{% endblock %}