{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Nova Senha!
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'app/css/password_reset_general.css' %}">
{% endblock %}

{% block content %}
<div class="formDiv">
    <h2>Redefinir Senha</h2>
    <p>Insira sua nova senha abaixo para redefinir a sua senha:</p>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Redefinir Senha</button>
    </form>
    
    <p>Se você não solicitou essa mudança, pode ignorar esse e-mail.</p>
</div>
{% endblock %}